.sec {
  display: flex;
  align-items: center;
}

.botao {
  margin: 24px;
  height: 50%;
}

#div {
  width: 16px;
  height: 16px;
  background: #999;
  position: absolute;
  border-radius: 50%;
}

h1 {
  font-size: 80px;
}

.texto {
  display: none;
}

.texto.ativo {
  display: block;
}
